@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Supermercado+One&display=swap');
/* 
font-family: 'Fjalla One', sans-serif;
font-family: 'Supermercado One', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(grey, black, grey);
}

/* etiquetas globales */

h3{
    color: $colorY;
    text-transform: uppercase;
    text-align: center;
    margin: $margin;
    padding: $padding;
    font-family: $font3;
}

h4{
    text-align: center;
    font-size: 20px;
    color: lightyellow;
    margin: $margin;
    padding: $padding;
}

p{
    margin: ($margin - 10);
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorR;
    font-family: $font1;
    font-size: 25px;
}

//  Preguntas frecuentes

.contenedor{
    margin: ($margin *2) + 10;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}