/* Nosotros */

.frase__entrena{
    background-color: grey;
    width: auto;
    margin: 0;
    font-size: 25px;
    text-shadow: 5px 5px 7px black;
}

.frase__nosotros{
    color: $colorR;
    letter-spacing: 2px;
    margin: 55px auto;
    padding: $padding - 5;
    font-family: $font3;
    text-shadow: 5px 5px 7px black;
}

.entrenamiento{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 7%;
    .imgFuncional, .imgGap, .imgTaekwondo{
        width: 450px;
        margin: $margin - 5;
        padding: $padding - 15;
        min-width: 450px;
        border-radius: 1.5rem;
    }
    .descripcionImg{
        font-family: $font3;
    }
}

.tablaHorarios {
    margin: 35px auto;
    width: auto;
    
    .tituloTabla {
        color: yellow;
        font-size: 20px;  
    }
    td {
        font-size: 20px
    }
}

#horarios{
    background-color: grey;
    width: auto;
    margin: 0;
}